{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static 'styles.css' %}/>
    <title>GRANDTOURISM ABOUT</title>
</head>
<body>
    <header>
        <h1>GRANDTOURISM</h1>
        <ul>
            <li><a href="/">INDEX</a></li>
            <li><a href="about">ABOUT</a></li>
            <li><a href="info">INFO</a></li>
        </ul>
    </header>
    <main>
        <section class="abouttext">
            ДАННЫЙ САЙТ ПРИНАДЛЕЖИТ СТУДЕНТУ Т. И. В. И ПОЛНОСТЬЮ ПОДЧИНЯЕТСЯ ТЕКУЩЕМУ ЗАКОНОДАТЕЛЬСТВУ РОССИЙСКОЙ ФЕДЕРАЦИИ. ВСЕ ДАННЫЕ БЫЛИ СОЗДАНЫ ВРУЧНУЮ И НЕ НЕСУТ В СЕБЕ НИКАКОЙ ЛИЧНОЙ ИНФОРМАЦИИ О КАКИХ-ЛИБО ИНДИВИДАХ В РАМКАХ ПЛАНЕТЫ ЗЕМЛЯ.
        </section>
    </main>
    <footer>
        ДАННЫЙ САЙТ ПРИНАДЛЕЖИТ СТУДЕНТУ Т. И. В. И ПОЛНОСТЬЮ ПОДЧИНЯЕТСЯ ТЕКУЩЕМУ ЗАКОНОДАТЕЛЬСТВУ РОССИЙСКОЙ ФЕДЕРАЦИИ. ВСЕ ДАННЫЕ БЫЛИ СОЗДАНЫ ВРУЧНУЮ И НЕ НЕСУТ В СЕБЕ НИКАКОЙ ЛИЧНОЙ ИНФОРМАЦИИ О КАКИХ-ЛИБО ИНДИВИДАХ В РАМКАХ ПЛАНЕТЫ ЗЕМЛЯ.
    </footer>
</body>
</html>